h1 {
	font-family: 'Chango';
	font-size: 56px;

}

p {
	font-family: 'Sriracha';
}

.jumbotron {
	background: lightblue;
}

.answer {
	border-radius: 5px;
	background: lightgrey;
	padding: 5px;	
}

.answer:hover {
	background-color: yellow;
}